    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding-top: 9.5rem;
    }

    /* Header and footer styling */
    header, footer {
        background-color: #81a684;
        color: white;
        padding: 20px;
    }

    /* Form container styling */
    form {
        max-width: 700px;
        margin: 20px auto;
        padding: 20px;
        background: white;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-size: 16px;
    }

    h2 {
        color: #333;
        padding-left: 9.5rem;
    }

    /* Input and button styling */
    input[type="file"],
    input[type="text"] {
        width: calc(100% - 22px);
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .btn{
        display: inline-block;
        padding: 1.2rem 2.8rem;
        border: .2rem solid transparent;
        border-radius: .6rem;
        background-color: #81a684;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
        box-shadow: 0.2rem .2rem rgba(0, 0, 0, 0.2);
        letter-spacing: .1rem;
        font-weight: 380;
        transition: .5s ease;
    }

    .btn:hover {
        background: transparent;
        color: #6a8e6d;
        border-color: #6a8e6d;
}
