{% extends 'core/base_no_headerfooter.html' %}

{% block title %}Log In - EcoTech{% endblock %}

{% load static %}

{% block extra_css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/login.css' %}" />
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-box">
        <div class="col-md-6 slogan d-flex justify-content-center">
            <h2 class="text-center fs-1">EcoTech</h2>
            <p class="fw-medium fs-3">
                Empowering a Greener Future, <br>One Innovation at a Time.
            </p>
        </div>
        <div class="col-md-6 form d-flex justify-content-center align-items-center">
            <form method="post" class="w-100">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {{ form.as_p }}
                <div class="d-grid gap-1 col-6">
                    <button type="submit" class="btn btn-light btn-block">Log In</button>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'users:password_forgot' %}" class="text-light">Forgot Password?</a>
                </div>
                <div class="text-center mt-3">
                    <a href="{% url 'users:signup' %}" class="text-light">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{##}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8" />#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{##}
{#    <title>#}
{#        {% block title %}Log In - EcoTech{% endblock %}#}
{#    </title>#}
{##}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'core/style.css' %}" />#}
{#    <link rel="stylesheet" href="{% static 'users/login.css' %}" />#}
{##}
{#    <!-- Block for additional CSS files -->#}
{#    {% block extra_css %}#}
{#        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">#}
{#    {% endblock %}#}
{#</head>#}
{##}
{#<body>#}
{#<div class="login-container">#}
{#    <div class="login-box">#}
{#        <div class="col-md-6 slogan d-flex justify-content-center">#}
{#            <h2 class="text-center fs-1">EcoTech</h2>#}
{#            <p class="fw-medium fs-3">#}
{#                Empowering a Greener Future, <br>One Innovation at a Time.#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-md-6 form d-flex justify-content-center align-items-center">#}
{#            <form method="post" class="w-100">#}
{#                {% csrf_token %}#}
{##}
{#                {% if messages %}#}
{#                    {% for message in messages %}#}
{#                        <div class="alert-success" role="alert">#}
{#                            {{ message }}#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{##}
{#                {{ form.as_p }}#}
{#                <div class="d-grid gap-1 col-6">#}
{#                    <button type="submit" class="btn btn-light btn-block">Log In</button>#}
{#                </div>#}
{#                <div class="text-center mt-3">#}
{#                    <a href="{% url 'users:password_forgot' %}" class="text-light">Forgot Password?</a>#}
{#                </div>#}
{#                <div class="text-center mt-3">#}
{#                    <a href="{% url 'users:signup' %}" class="text-light">Create an account</a>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</body>#}
{#</html>#}
