    .home-content h1 {
        font-size: 2.5em;
        font-weight: bold;
    }
    .question h3 {
        font-size: 2em;
        font-weight: bold;
    }
    .question p, .question ul {
        font-size: 1.5em;
    }