    .btn {
        background-color: #81a684;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }

    .btn a {
        color: white; /* Ensures the link text inside the button is white */
        text-decoration: none;
    }

    .btn:hover a{
        background: transparent;
        color:#81a684;
        font-weight: bold;
        border-color: #81a684;
    }

    .history-number {
        font-weight: bold;
        font-size: 150%;
    }

    .recommended-articles {
        min-height: unset;
    }

    .container {
        max-width: fit-content;
        font-size: larger;
    }

    .card {
        height: 100%;
    }

    .newsletter {
        min-height: unset;
    }