{% extends 'core/base.html' %}

{% block title %}EcoTech | About Us{% endblock %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
    <section class="home" id="home">
      <div class="home-content">
        <h1>Who are we?</h1>
        <!--<h3>Empowering Sustainable Innovation</h3>-->
          <br />
          <p>
        EcoTech Connect is driven by the mission to empower individuals and businesses to embrace greener technologies. We envision a world where sustainable practices are not just the exception, but the norm. Our platform provides a wealth of information, resources, and tools to support your journey towards a more sustainable future.
        <br />
        We're proud of the growing EcoTech community, a network of passionate enthusiasts who share knowledge, inspire action, and spread awareness about eco-friendly solutions. Together, we've achieved significant milestones, helping countless individuals and businesses adopt greener practices.
        <br />
        Ready to join the movement? Explore our platform, discover innovative solutions, and register for an account to unlock exclusive features and connect with a like-minded community. Let's work together to build a more sustainable future for generations to come!
        </p>
          <br />
          <button class="btn"><a href="{% url 'users:signup' %}">Join Us!</a></button>
      </div>
    </section>
{% endblock %}

