
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        {% block title %}EcoTech{% endblock %}
    </title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}" />

    <!-- Block for additional CSS files -->
    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <!-- Navbar design -->
    <header class="header">
      <a href="{% url 'core:home' %}" class="logo">EcoTech</a>

      <!-- add a search bar -->


      {% if user.is_authenticated %}
      <!-- show the user's name and a dropdown menu with multiple user features such as logout on the top right corner -->
        <nav class="navbar">
          <a href="{% url 'contents:upload_article' %}">Post</a>
          <a href="{% url 'contents:article_list' %}">Articles</a>
          <a href="{% url 'users:view_profile' user.username %}">Profile</a>
          <a href="{% url 'users:edit_profile' user.username %}">Edit Profile</a>
          <a href="{% url 'users:logout' %}">Log Out</a>
        </nav>


      {% else %}
      <!-- show the signup and login button on the top right corner -->
      <nav class="navbar">
        <a href="{% url 'core:home' %}" class="active">Home</a>
        <a href="{% url 'contents:article_list' %}">Articles</a>
        <a href="{% url 'users:signup' %}">Sign Up</a>
        <a href="{% url 'users:login' %}">Log In</a>
      </nav>
      {% endif %}

    </header>

    <!-- Main Content -->
    {% block content%}

    {% endblock %}
    
    <!--footer design-->
    <footer class="footer">
      <div class="footer-text">
        <p>EcoTech Connect 2024 | All Rights Reserved</p>
      </div>

      <div class="social-media">
        <a href="https://www.facebook.com/ecotechconnect">Facebook</a>
        <a href="https://www.x.com/ecotechconnect">Twitter</a>
        <a href="https://www.linkedin.com/ecotechconnect">LinkedIn</a>
      </div>

      <div class="footer-links">
        <ul>
            <li><a href="{% url 'core:about' %}">About Us</a></li>
            <li><a href="{% url 'core:contact' %}">Contact Us</a></li>
            <li><a href="{% url 'core:faq' %}">FAQ</a></li>
        </ul>
        <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </footer>

</body>
</html>