{% extends 'core/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'core/style.css' %}" />
    <title>FAQ-EcoTech Connect</title>
</head>


<body>
<!-- header design -->
    <header class="header">
      <a href="#" class="logo">EcoTech</a>

      <nav class="navbar">
        <a href="#" class="active">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </nav>
    </header>

     <!--home section designs-->
    <section class="home" id="home">
      <div class="home-content">
        <h1>Frequently Asked Questions</h1>
          <br />
          <div class="question">
        <h3>Who can benefit from using EcoTech Connect?</h3>
          <br />
          <p>
        EcoTech Connect is a valuable resource for anyone interested in sustainability, regardless of  background or experience level. Whether you're a homeowner looking for ways to green your lifestyle, a business owner seeking to implement sustainable practices, or a student exploring the field of environmental technology, EcoTech Connect has something for you.
          </p></div>
          <br />
          
          <div class="question">
        <h3>What kind of information can I find on EcoTech Connect?</h3>
          <br />
          <p>Our platform offers a diverse range of content, including:</p>
          <ul>
              <li>Articles covering the latest advancements in sustainable technologies.</li>
      <li>Videos showcasing success stories and practical applications of green solutions.</li>
      <li>Resources like downloadable guides, white papers, and infographics.</li>
      <li>Features to share your knowledge and information</li>
    </ul></div>
          <br />
          
           <div class="question">
        <h3>Do I need to register to use EcoTech Connect?</h3>
          <br />
          <p>Registration is free and unlocks additional features like saving favorite articles, participating in discussions, and accessing exclusive content.
          </p></div>
          <br />
          
          <div class="question">
        <h3>How can I get involved in the EcoTech Connect community?</h3>
          <br />
          <p>There are several ways to connect with the EcoTech Connect community:</p>
          <ul>
              <li>Explore our discussion forums and share your thoughts and questions</li>
      <li>Follow us on social media for updates and engage in conversations.</li>
      <li>Resources like downloadable guides, white papers, and infographics.</li>
      <li>Attend online events and webinars hosted by EcoTech Connect and our partners.</li>
    </ul></div>
          <br />
          
          <button class="btn"><a href="#">Join Us!</a></button>
      </div>
        <!--footer design-->
    <footer class="footer">
      <div class="footer-text">
        <p>EcoTech Connect 2024 | All Rights Reserved</p>
      </div>
        <div class="social-media">
      <a href="https://www.facebook.com/ecotechconnect">Facebook</a>
      <a href="https://www.x.com/ecotechconnect">Twitter</a>
      <a href="https://www.linkedin.com/ecotechconnect">LinkedIn</a>
    </div>
      <div class="footer-links">
        <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">FAQ</a></li>
    </ul>
      </div>
        
    </footer>
</body>
</html>