{% extends 'core/base.html' %}

{% block title %}EcoTech | Home Page{% endblock %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
 <!--home section designs-->
    <section class="home" id="home">
      <div class="home-content">
        <h1>EcoTech Connect</h1>
        <h3>Empowering Sustainable Innovation</h3>
          <br />
        <p>EcoTech Connect is your one-stop platform for advancing green technologies.</p>
        <br />
          <p>
        EcoTech Connect offers a wealth of information, resources, and tools to support
        your journey towards a sustainable future. Browse articles, watch videos,
        and discover innovative solutions for businesses and individuals.
      </p>
          <br />
          <button class="btn"><a href="{% url 'core:about' %}">Learn More</a></button>
      </div>
       <div class="image"><img src="#" alt="EcoTech Connect Logo"></div>

    <!-- Benefits Section Design -->
    <section class="benefits" id="benefits">
      <h2 class="heading">Benefits of joining <span>EcoTech Connect</span></h2>
      <div class="benefits-container">
        <div class="benefits-box">
          <p>Sign Up to access exclusive content and resources</p>
        </div>

        <div class="benefits-box">
          <p>Stay updated on the latest sustainability trends</p>
        </div>

        <div class="benefits-box">
          <p>Connect with a community of like-minded individuals and businesses</p>
        </div>
        <div class="benefits-box">
          <p>Contribute to a greener future</p>
        </div>
      </div>

        <div class="benefits-btn">
            <button class="btn"><a href="#">Sign Up Now</a></button>
            </div>
    </section>

    <!-- Newsletter Section Design -->
    <section class="newsletter" id="newsletter">
      <h2 class="heading">Join our <span>Newsletter!</span></h2>
      <form action="mailto:info@ecotech.com" method="post">
        <div class="input-box">
          <input type="email" placeholder="Your Email Address" />
        </div>
        <input type="submit" value="Get Updates" class="btn" />
      </form>
    </section>

    </section>
{% endblock %}
