{% extends 'core/base.html' %}

{% block title %}EcoTech - Empowering Sustainable Innovation{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/home.css' %}" />
{% endblock %}

{% block content %}
<!--home section designs-->
<section class="home" id="home">
  <div class="home-content">
    <h1>EcoTech Connect</h1>
    <h3>Empowering Sustainable Innovation</h3>
    <br />
    <p>EcoTech Connect is your one-stop platform for advancing green technologies.</p>
    <br />
    <p>
      EcoTech Connect offers a wealth of information, resources, and tools to support
      your journey towards a sustainable future. Browse articles, watch videos,
      and discover innovative solutions for businesses and individuals.
    </p>
    <br />
    <button class="btn"><a href="{% url 'users:signup' %}">Learn More</a></button>
  </div>

  <!-- Benefits Section Design -->
  <section class="benefits" id="benefits">
    <h2 class="heading">New Contributions To <span>A Green Future</span></h2>
    <div class="benefits-container">
      <div class="benefits-box">
        <p><span class="history-number">{{ num_article }}</span> exclusive contents and resources have been created</p>
      </div>

      <div class="benefits-box">
        <p><span class="history-number">{{ daily_visits }}</span> visitors today got updated on the latest sustainability trends</p>
      </div>

      <div class="benefits-box">
        <p><span class="history-number">{{ num_member }}</span> members have been connected within a green community</p>
      </div>
      <div class="benefits-box">
        <p><span class="history-number">{{ num_comment }}</span> insights have been exchanged between like-minded individuals and businesses</p>
      </div>
    </div>

    <div class="benefits-btn">
      <button class="btn"><a href="{% url 'users:signup' %}">Join Us Now</a></button>
    </div>
  </section>

  <!-- Newsletter Section Design -->
  <section class="newsletter" id="newsletter">
    <h2 class="heading">Join our <span>Newsletter!</span></h2>
    <form action="mailto:info@ecotech.com" method="post">
      <div class="input-box">
        <input type="email" placeholder="Your Email Address" />
      </div>
      <input type="submit" value="Get Updates" class="btn" />
    </form>
  </section>
</section>
    <!-- Newsletter Section Design -->
    <section class="newsletter" id="newsletter">
      <h2 class="heading">Join our <span>Newsletter!</span></h2>
      <form action="mailto:info@ecotech.com" method="post">
        <div class="input-box">
          <input type="email" placeholder="Your Email Address" />
        </div>
        <input type="submit" value="Get Updates" class="btn" />
      </form>
    </section>

    </section>
{% endblock %}